<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.csatimes.dojma"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="android.support.customtabs"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".AnalyticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Searchable"/>
        </activity>
        <activity
            android:name=".SuggestFeature"
            android:label="@string/title_activity_suggest_feature"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csatimes.dojma.HomeActivity"/>
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csatimes.dojma.HomeActivity"/>
        </activity>
        <activity
            android:name=".OpenWebpage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_open_webpage"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csatimes.dojma.HomeActivity"/>
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <category android:name="android.intent.category.DEFAULT"/>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csatimes.dojma.HomeActivity"/>
        </activity>

        <service
            android:name=".UpdateCheckerService"
            android:exported="false">
        </service>

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote">
        </receiver>
        <receiver
            android:name=".CopyLinkBroadcastReceiver"
            android:enabled="true">
        </receiver>
        <receiver android:name=".BootBroadcastService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".Favourites"
            android:label="@string/title_activity_favourites"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csatimes.dojma.HomeActivity"/>
        </activity>
        <activity
            android:name=".OpenCategoryListView"
            android:label="@string/title_activity_categories"
            android:parentActivityName=".CategoryListView"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csatimes.dojma.CategoryListView"/>
        </activity>
        <activity
            android:name=".OpenArchiveListView"
            android:label="Archives"
            android:parentActivityName=".ArchiveListView"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csatimes.dojma.ArchiveListView"/>
        </activity>
        <activity
            android:name=".ImagesAndMedia"
            android:label="@string/title_activity_images_and_media"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csatimes.dojma.HomeActivity"/>
        </activity>
        <activity
            android:name=".CategoryListView"
            android:label="@string/title_activity_categories"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csatimes.dojma.HomeActivity"/>
        </activity>
        <activity
            android:name=".LinkListView"
            android:label="Links"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csatimes.dojma.HomeActivity"/>
        </activity>
        <activity
            android:name=".ArchiveListView"
            android:label="Archives"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csatimes.dojma.HomeActivity"/>
        </activity>
        <activity
            android:name=".Searchable"
            android:label="@string/title_activity_searchable"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csatimes.dojma.HomeActivity"/>
        </activity>
        <activity
            android:name=".OfflineSimpleViewer"
            android:label="@string/title_activity_offline_simple_viewer"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csatimes.dojma.HomeActivity"/>
        </activity>
        <activity
            android:name=".POSTDownloaderActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_postdownloader"
            android:theme="@style/AppTheme">
        </activity>

        <service
            android:name=".ImageUrlHandlerService"
            android:exported="false">
        </service>
        <service
            android:name=".PostDownloadService"
            android:exported="false">
        </service>

        <activity android:name=".ContactsActivity">
        </activity>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csatimes.dojma.HomeActivity"/>
        </activity>
        <activity
            android:name=".AboutDojma"
            android:label="@string/title_activity_about_dojma"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csatimes.dojma.HomeActivity"/>
        </activity>
    </application>

</manifest>